In [1]:
# data science
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
## Load and merge dataset

In [3]:
# we need to variable of coordinates

In [4]:
# Load the CSV file "Origen"
df_geocode = pd.read_csv('./Resources/US_GeoCode.csv')
df_heart_2022 = pd.read_csv('./Resources/heart_2022_no_nans.csv')

In [5]:
df_geocode.head(4)

  state&teritory   latitude   longitude      Name
0             AK  63.588753 -154.493062    Alaska
1             AL  32.318231  -86.902298   Alabama
2             AR  35.201050  -91.831833  Arkansas
3             AZ  34.048928 -111.093731   Arizona

In [6]:
df_geocode.rename(columns={'Name': 'State'}, inplace=True)
df_geocode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state&teritory  61 non-null     object
 1   latitude        61 non-null     float64
 2   longitude       61 non-null     float64
 3   State           61 non-null     object
dtypes: float64(2), object(2)
memory usage: 2.0+ KB

In [7]:
df_heart_2022.head(4)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes

In [8]:
# Merge the DataFrames based on a common key, such as 'shop_id' or 'location_id'
# Adjust the 'on' parameter based on the common key in your data
merged_df = pd.merge(df_heart_2022, df_geocode, on='State', how='left')
merged_df

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,state&teritory,latitude,longitude
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,No,No,Yes,Yes,"Yes, received Tdap",No,No,AL,32.318231,-86.902298
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,AL,32.318231,-86.902298
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,AL,32.318231,-86.902298
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,AL,32.318231,-86.902298
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,AL,32.318231,-86.902298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246017,Virgin Islands,Male,Very good,0.0,0.0,Within past 2 years (1 year but less than 2 ye...,Yes,6.0,None of them,No,...,Yes,No,No,No,"Yes, received tetanus shot but not sure what type",No,No,NaN,NaN,NaN
246018,Virgin Islands,Female,Fair,0.0,7.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes,NaN,NaN,NaN
246019,Virgin Islands,Male,Good,0.0,15.0,Within past year (anytime less than 12 months ...,Yes,7.0,1 to 5,No,...,Yes,Yes,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,Yes,NaN,NaN,NaN
246020,Virgin Islands,Female,Excellent,2.0,2.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",No,No,NaN,NaN,NaN
246021,Virgin Islands,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,5.0,None of them,Yes,...,No,Yes,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,NaN,NaN,NaN

In [9]:
# Merge the DataFrames
merged_df = pd.merge(df_heart_2022, df_geocode, on='State', how='left')

# Update latitude and longitude for Guam
merged_df.loc[merged_df['State'] == 'Guam', ['latitude', 'longitude']] = [13.444304, 144.793731]

# Update latitude and longitude for Virgin Islands
merged_df.loc[merged_df['State'] == 'Virgin Islands', ['latitude', 'longitude']] = [18.335765, -64.896335]

In [10]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      246022 non-null  object
 1   Sex                        246022 non-null  object
 2   GeneralHealth              246022 non-null  object
 3   PhysicalHealthDays         246022 non-null  float64
 4   MentalHealthDays           246022 non-null  float64
 5   LastCheckupTime            246022 non-null  object
 6   PhysicalActivities         246022 non-null  object
 7   SleepHours                 246022 non-null  float64
 8   RemovedTeeth               246022 non-null  object
 9   HadHeartAttack             246022 non-null  object
 10  HadAngina                  246022 non-null  object
 11  HadStroke                  246022 non-null  object
 12  HadAsthma                  246022 non-null  object
 13  HadSkinCancer              246022 non-null  object
 14  HadCOPD                    246022 non-null  object
 15  HadDepressiveDisorder      246022 non-null  object
 16  HadKidneyDisease           246022 non-null  object
 17  HadArthritis               246022 non-null  object
 18  HadDiabetes                246022 non-null  object
 19  DeafOrHardOfHearing        246022 non-null  object
 20  BlindOrVisionDifficulty    246022 non-null  object
 21  DifficultyConcentrating    246022 non-null  object
 22  DifficultyWalking          246022 non-null  object
 23  DifficultyDressingBathing  246022 non-null  object
 24  DifficultyErrands          246022 non-null  object
 25  SmokerStatus               246022 non-null  object
 26  ECigaretteUsage            246022 non-null  object
 27  ChestScan                  246022 non-null  object
 28  RaceEthnicityCategory      246022 non-null  object
 29  AgeCategory                246022 non-null  object
 30  HeightInMeters             246022 non-null  float64
 31  WeightInKilograms          246022 non-null  float64
 32  BMI                        246022 non-null  float64
 33  AlcoholDrinkers            246022 non-null  object
 34  HIVTesting                 246022 non-null  object
 35  FluVaxLast12               246022 non-null  object
 36  PneumoVaxEver              246022 non-null  object
 37  TetanusLast10Tdap          246022 non-null  object
 38  HighRiskLastYear           246022 non-null  object
 39  CovidPos                   246022 non-null  object
 40  state&teritory             243730 non-null  object
 41  latitude                   246022 non-null  float64
 42  longitude                  246022 non-null  float64
dtypes: float64(8), object(35)
memory usage: 80.7+ MB

In [14]:
merged_df.isnull().sum()

State                           0
Sex                             0
GeneralHealth                   0
PhysicalHealthDays              0
MentalHealthDays                0
LastCheckupTime                 0
PhysicalActivities              0
SleepHours                      0
RemovedTeeth                    0
HadHeartAttack                  0
HadAngina                       0
HadStroke                       0
HadAsthma                       0
HadSkinCancer                   0
HadCOPD                         0
HadDepressiveDisorder           0
HadKidneyDisease                0
HadArthritis                    0
HadDiabetes                     0
DeafOrHardOfHearing             0
BlindOrVisionDifficulty         0
DifficultyConcentrating         0
DifficultyWalking               0
DifficultyDressingBathing       0
DifficultyErrands               0
SmokerStatus                    0
ECigaretteUsage                 0
ChestScan                       0
RaceEthnicityCategory           0
AgeCategory                     0
HeightInMeters                  0
WeightInKilograms               0
BMI                             0
AlcoholDrinkers                 0
HIVTesting                      0
FluVaxLast12                    0
PneumoVaxEver                   0
TetanusLast10Tdap               0
HighRiskLastYear                0
CovidPos                        0
state&teritory               2292
latitude                        0
longitude                       0
dtype: int64

In [16]:
# Future work: Extract the titles from the NAME column to use as an additional category
cols_to_drop = ["state&teritory"]
merged_df.drop(columns=cols_to_drop, inplace=True)
# 
merged_df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,latitude,longitude
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No,32.318231,-86.902298
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,32.318231,-86.902298
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,32.318231,-86.902298

In [17]:
merged_df.to_csv("heart_attack_2022_location.csv", index=True)