In [1]:
# Import the required modules
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
import re 
import pickle


# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold

# Metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, RocCurveDisplay

# Pre-Processing
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("heart_attack_2022_location.csv")
print(df.shape)
df.head()

(246022, 43)

,Unnamed: 0,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes,DeafOrHardOfHearing,BlindOrVisionDifficulty,DifficultyConcentrating,DifficultyWalking,DifficultyDressingBathing,DifficultyErrands,SmokerStatus,ECigaretteUsage,ChestScan,RaceEthnicityCategory,AgeCategory,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,latitude,longitude
0,0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 65 to 69,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No,32.318231,-86.902298
1,1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 70 to 74,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,32.318231,-86.902298
2,2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,No,No,No,No,No,No,No,Yes,No,No,Yes,No,Yes,No,No,Former smoker,Never used e-cigarettes in my entire life,Yes,"White only, Non-Hispanic",Age 75 to 79,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
3,3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,Yes,No,Yes,No,Yes,No,No,No,No,Yes,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
4,4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,32.318231,-86.902298

In [3]:
# Check for missing values
print(df.isnull().sum())

Unnamed: 0                   0
State                        0
Sex                          0
GeneralHealth                0
PhysicalHealthDays           0
MentalHealthDays             0
LastCheckupTime              0
PhysicalActivities           0
SleepHours                   0
RemovedTeeth                 0
HadHeartAttack               0
HadAngina                    0
HadStroke                    0
HadAsthma                    0
HadSkinCancer                0
HadCOPD                      0
HadDepressiveDisorder        0
HadKidneyDisease             0
HadArthritis                 0
HadDiabetes                  0
DeafOrHardOfHearing          0
BlindOrVisionDifficulty      0
DifficultyConcentrating      0
DifficultyWalking            0
DifficultyDressingBathing    0
DifficultyErrands            0
SmokerStatus                 0
ECigaretteUsage              0
ChestScan                    0
RaceEthnicityCategory        0
AgeCategory                  0
HeightInMeters               0
WeightInKilograms            0
BMI                          0
AlcoholDrinkers              0
HIVTesting                   0
FluVaxLast12                 0
PneumoVaxEver                0
TetanusLast10Tdap            0
HighRiskLastYear             0
CovidPos                     0
latitude                     0
longitude                    0
dtype: int64

In [4]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 246022 non-null  int64
 1   State                      246022 non-null  object
 2   Sex                        246022 non-null  object
 3   GeneralHealth              246022 non-null  object
 4   PhysicalHealthDays         246022 non-null  float64
 5   MentalHealthDays           246022 non-null  float64
 6   LastCheckupTime            246022 non-null  object
 7   PhysicalActivities         246022 non-null  object
 8   SleepHours                 246022 non-null  float64
 9   RemovedTeeth               246022 non-null  object
 10  HadHeartAttack             246022 non-null  object
 11  HadAngina                  246022 non-null  object
 12  HadStroke                  246022 non-null  object
 13  HadAsthma                  246022 non-null  object
 14  HadSkinCancer              246022 non-null  object
 15  HadCOPD                    246022 non-null  object
 16  HadDepressiveDisorder      246022 non-null  object
 17  HadKidneyDisease           246022 non-null  object
 18  HadArthritis               246022 non-null  object
 19  HadDiabetes                246022 non-null  object
 20  DeafOrHardOfHearing        246022 non-null  object
 21  BlindOrVisionDifficulty    246022 non-null  object
 22  DifficultyConcentrating    246022 non-null  object
 23  DifficultyWalking          246022 non-null  object
 24  DifficultyDressingBathing  246022 non-null  object
 25  DifficultyErrands          246022 non-null  object
 26  SmokerStatus               246022 non-null  object
 27  ECigaretteUsage            246022 non-null  object
 28  ChestScan                  246022 non-null  object
 29  RaceEthnicityCategory      246022 non-null  object
 30  AgeCategory                246022 non-null  object
 31  HeightInMeters             246022 non-null  float64
 32  WeightInKilograms          246022 non-null  float64
 33  BMI                        246022 non-null  float64
 34  AlcoholDrinkers            246022 non-null  object
 35  HIVTesting                 246022 non-null  object
 36  FluVaxLast12               246022 non-null  object
 37  PneumoVaxEver              246022 non-null  object
 38  TetanusLast10Tdap          246022 non-null  object
 39  HighRiskLastYear           246022 non-null  object
 40  CovidPos                   246022 non-null  object
 41  latitude                   246022 non-null  float64
 42  longitude                  246022 non-null  float64
dtypes: float64(8), int64(1), object(34)
memory usage: 80.7+ MB

In [5]:
 # Select string columns
string_cols = df.select_dtypes(include=['object'])

# Count unique categories for each string column
unique_counts = string_cols.nunique()
unique_counts

State                        54
Sex                           2
GeneralHealth                 5
LastCheckupTime               4
PhysicalActivities            2
RemovedTeeth                  4
HadHeartAttack                2
HadAngina                     2
HadStroke                     2
HadAsthma                     2
HadSkinCancer                 2
HadCOPD                       2
HadDepressiveDisorder         2
HadKidneyDisease              2
HadArthritis                  2
HadDiabetes                   4
DeafOrHardOfHearing           2
BlindOrVisionDifficulty       2
DifficultyConcentrating       2
DifficultyWalking             2
DifficultyDressingBathing     2
DifficultyErrands             2
SmokerStatus                  4
ECigaretteUsage               4
ChestScan                     2
RaceEthnicityCategory         5
AgeCategory                  13
AlcoholDrinkers               2
HIVTesting                    2
FluVaxLast12                  2
PneumoVaxEver                 2
TetanusLast10Tdap             4
HighRiskLastYear              2
CovidPos                      3
dtype: int64

In [6]:
df.head()

,Unnamed: 0,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes,DeafOrHardOfHearing,BlindOrVisionDifficulty,DifficultyConcentrating,DifficultyWalking,DifficultyDressingBathing,DifficultyErrands,SmokerStatus,ECigaretteUsage,ChestScan,RaceEthnicityCategory,AgeCategory,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,latitude,longitude
0,0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 65 to 69,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No,32.318231,-86.902298
1,1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 70 to 74,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No,32.318231,-86.902298
2,2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,No,No,No,No,No,No,No,Yes,No,No,Yes,No,Yes,No,No,Former smoker,Never used e-cigarettes in my entire life,Yes,"White only, Non-Hispanic",Age 75 to 79,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
3,3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,Yes,No,Yes,No,Yes,No,No,No,No,Yes,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes,32.318231,-86.902298
4,4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No,32.318231,-86.902298

In [7]:
df.Sex.value_counts()

Sex
Female    127811
Male      118211
Name: count, dtype: int64

In [8]:
 df.groupby("Sex").BMI.describe()

           count       mean       std    min    25%    50%    75%    max
Sex
Female  127811.0  28.619383  7.054929  12.02  23.57  27.44  32.22  97.65
Male    118211.0  28.720848  5.872868  12.16  24.96  27.80  31.57  97.65

In [9]:
df.groupby("Sex").PhysicalHealthDays.describe()

           count      mean       std  min  25%  50%  75%   max
Sex
Female  127811.0  4.475374  8.607564  0.0  0.0  0.0  4.0  30.0
Male    118211.0  3.733739  8.164705  0.0  0.0  0.0  2.0  30.0

In [10]:
df.groupby("Sex").MentalHealthDays.describe()

           count      mean       std  min  25%  50%  75%   max
Sex
Female  127811.0  4.881747  8.562534  0.0  0.0  0.0  5.0  30.0
Male    118211.0  3.394498  7.497944  0.0  0.0  0.0  2.0  30.0

In [11]:
df.groupby("Sex").SleepHours.describe()

           count      mean       std  min  25%  50%  75%   max
Sex
Female  127811.0  7.043212  1.458613  1.0  6.0  7.0  8.0  24.0
Male    118211.0  6.997674  1.420666  1.0  6.0  7.0  8.0  24.0

In [12]:
 # Dealing with Strings
# Ticket, Name, Embarked, Sex, (Pclass), Has_Cabin
# Only four are categories: Embarked, Sex, PClass, Has_Cabin

# DROP: Ticket & Name columns
# Future work: Extract the titles from the NAME column to use as an additional category
cols_to_drop = ["Unnamed: 0", "latitude", "longitude"]
df.drop(columns=cols_to_drop, inplace=True)
# 
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes,DeafOrHardOfHearing,BlindOrVisionDifficulty,DifficultyConcentrating,DifficultyWalking,DifficultyDressingBathing,DifficultyErrands,SmokerStatus,ECigaretteUsage,ChestScan,RaceEthnicityCategory,AgeCategory,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 65 to 69,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 70 to 74,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,No,No,No,No,No,No,No,Yes,No,No,Yes,No,Yes,No,No,Former smoker,Never used e-cigarettes in my entire life,Yes,"White only, Non-Hispanic",Age 75 to 79,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,Yes,No,Yes,No,Yes,No,No,No,No,Yes,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 40 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      246022 non-null  object
 1   Sex                        246022 non-null  object
 2   GeneralHealth              246022 non-null  object
 3   PhysicalHealthDays         246022 non-null  float64
 4   MentalHealthDays           246022 non-null  float64
 5   LastCheckupTime            246022 non-null  object
 6   PhysicalActivities         246022 non-null  object
 7   SleepHours                 246022 non-null  float64
 8   RemovedTeeth               246022 non-null  object
 9   HadHeartAttack             246022 non-null  object
 10  HadAngina                  246022 non-null  object
 11  HadStroke                  246022 non-null  object
 12  HadAsthma                  246022 non-null  object
 13  HadSkinCancer              246022 non-null  object
 14  HadCOPD                    246022 non-null  object
 15  HadDepressiveDisorder      246022 non-null  object
 16  HadKidneyDisease           246022 non-null  object
 17  HadArthritis               246022 non-null  object
 18  HadDiabetes                246022 non-null  object
 19  DeafOrHardOfHearing        246022 non-null  object
 20  BlindOrVisionDifficulty    246022 non-null  object
 21  DifficultyConcentrating    246022 non-null  object
 22  DifficultyWalking          246022 non-null  object
 23  DifficultyDressingBathing  246022 non-null  object
 24  DifficultyErrands          246022 non-null  object
 25  SmokerStatus               246022 non-null  object
 26  ECigaretteUsage            246022 non-null  object
 27  ChestScan                  246022 non-null  object
 28  RaceEthnicityCategory      246022 non-null  object
 29  AgeCategory                246022 non-null  object
 30  HeightInMeters             246022 non-null  float64
 31  WeightInKilograms          246022 non-null  float64
 32  BMI                        246022 non-null  float64
 33  AlcoholDrinkers            246022 non-null  object
 34  HIVTesting                 246022 non-null  object
 35  FluVaxLast12               246022 non-null  object
 36  PneumoVaxEver              246022 non-null  object
 37  TetanusLast10Tdap          246022 non-null  object
 38  HighRiskLastYear           246022 non-null  object
 39  CovidPos                   246022 non-null  object
dtypes: float64(6), object(34)
memory usage: 75.1+ MB

In [14]:
df.isnull().sum()

State                        0
Sex                          0
GeneralHealth                0
PhysicalHealthDays           0
MentalHealthDays             0
LastCheckupTime              0
PhysicalActivities           0
SleepHours                   0
RemovedTeeth                 0
HadHeartAttack               0
HadAngina                    0
HadStroke                    0
HadAsthma                    0
HadSkinCancer                0
HadCOPD                      0
HadDepressiveDisorder        0
HadKidneyDisease             0
HadArthritis                 0
HadDiabetes                  0
DeafOrHardOfHearing          0
BlindOrVisionDifficulty      0
DifficultyConcentrating      0
DifficultyWalking            0
DifficultyDressingBathing    0
DifficultyErrands            0
SmokerStatus                 0
ECigaretteUsage              0
ChestScan                    0
RaceEthnicityCategory        0
AgeCategory                  0
HeightInMeters               0
WeightInKilograms            0
BMI                          0
AlcoholDrinkers              0
HIVTesting                   0
FluVaxLast12                 0
PneumoVaxEver                0
TetanusLast10Tdap            0
HighRiskLastYear             0
CovidPos                     0
dtype: int64

In [15]:
df.head(4)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,HadCOPD,HadDepressiveDisorder,HadKidneyDisease,HadArthritis,HadDiabetes,DeafOrHardOfHearing,BlindOrVisionDifficulty,DifficultyConcentrating,DifficultyWalking,DifficultyDressingBathing,DifficultyErrands,SmokerStatus,ECigaretteUsage,ChestScan,RaceEthnicityCategory,AgeCategory,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,No,No,No,No,Yes,No,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 65 to 69,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,No,No,No,No,No,No,No,Yes,Yes,No,No,No,No,No,No,Former smoker,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 70 to 74,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,No,No,No,No,No,No,No,Yes,No,No,Yes,No,Yes,No,No,Former smoker,Never used e-cigarettes in my entire life,Yes,"White only, Non-Hispanic",Age 75 to 79,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,No,No,No,Yes,No,Yes,No,Yes,No,No,No,No,Yes,No,No,Never smoked,Never used e-cigarettes in my entire life,No,"White only, Non-Hispanic",Age 80 or older,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes

In [16]:
# Determine the number of unique values in each column.
cols = ["State","Sex",	"GeneralHealth", "PhysicalHealthDays", "MentalHealthDays",	"LastCheckupTime", "PhysicalActivities", "SleepHours", 
        "RemovedTeeth", "HadHeartAttack",	"HadAngina", "HadStroke", "HadAsthma", "HadSkinCancer",	"HadCOPD",	"HadDepressiveDisorder",	
        "HadKidneyDisease", "HadArthritis",	"HadDiabetes", "DeafOrHardOfHearing", "BlindOrVisionDifficulty",	"DifficultyConcentrating",	
        "DifficultyWalking",  "DifficultyDressingBathing",	"DifficultyErrands",	"SmokerStatus", "ECigaretteUsage", "ChestScan",	
        "RaceEthnicityCategory",	"AgeCategory", "HeightInMeters","WeightInKilograms", "BMI", "AlcoholDrinkers", "HIVTesting", "FluVaxLast12", 
        "PneumoVaxEver", "TetanusLast10Tdap", "HighRiskLastYear", "CovidPos"]

for col in cols:
  print(col)
  print(df[col].nunique())
  print(df[col].value_counts())
  print()

State
54
State
Washington              15000
Maryland                 9165
Minnesota                9161
Ohio                     8995
New York                 8923
Texas                    7408
Florida                  7315
Kansas                   6145
Wisconsin                6126
Maine                    6013
Iowa                     5672
Hawaii                   5596
Virginia                 5565
Indiana                  5502
South Carolina           5471
Massachusetts            5465
Arizona                  5462
Utah                     5373
Michigan                 5370
Colorado                 5159
Nebraska                 5107
California               5096
Connecticut              5053
Georgia                  4978
Vermont                  4845
South Dakota             4405
Montana                  4264
Missouri                 4195
New Jersey               3967
New Hampshire            3756
Puerto Rico              3589
Idaho                    3468
Alaska                   3205
Rhode Island             3112
Oregon                   3049
Louisiana                3010
West Virginia            2974
New Mexico               2968
Oklahoma                 2941
Arkansas                 2940
Pennsylvania             2729
Tennessee                2725
Illinois                 2607
North Carolina           2551
North Dakota             2498
Mississippi              2438
Kentucky                 2413
Wyoming                  2410
Delaware                 2155
Alabama                  1902
Nevada                   1769
District of Columbia     1725
Guam                     1549
Virgin Islands            743
Name: count, dtype: int64

Sex
2
Sex
Female    127811
Male      118211
Name: count, dtype: int64

GeneralHealth
5
GeneralHealth
Very good    86999
Good         77409
Excellent    41525
Fair         30659
Poor          9430
Name: count, dtype: int64

PhysicalHealthDays
31
PhysicalHealthDays
0.0     152802
30.0     17160
2.0      14728
1.0      10058
3.0       9137
5.0       8939
10.0      6068
7.0       5221
4.0       4906
15.0      4845
20.0      2950
14.0      2813
6.0       1421
25.0      1123
8.0        961
12.0       610
21.0       584
28.0       365
9.0        211
29.0       178
18.0       151
16.0       126
27.0       103
17.0       101
11.0        95
13.0        87
22.0        72
26.0        64
24.0        60
23.0        54
19.0        29
Name: count, dtype: int64

MentalHealthDays
31
MentalHealthDays
0.0     150454
2.0      13810
30.0     13702
5.0      11623
3.0       8849
10.0      8831
1.0       8244
15.0      8061
20.0      4925
4.0       4568
7.0       4485
25.0      1647
14.0      1573
6.0       1326
8.0        973
12.0       715
28.0       484
21.0       301
29.0       261
18.0       166
16.0       165
9.0        145
17.0       132
27.0       113
22.0       101
13.0        96
11.0        69
24.0        68
26.0        59
23.0        51
19.0        25
Name: count, dtype: int64

LastCheckupTime
4
LastCheckupTime
Within past year (anytime less than 12 months ago)         198153
Within past 2 years (1 year but less than 2 years ago)      23227
Within past 5 years (2 years but less than 5 years ago)     13744
5 or more years ago                                         10898
Name: count, dtype: int64

PhysicalActivities
2
PhysicalActivities
Yes    191318
No      54704
Name: count, dtype: int64

SleepHours
23
SleepHours
7.0     76447
8.0     69927
6.0     53981
5.0     16417
9.0     11859
4.0      6478
10.0     5468
3.0      1618
12.0     1476
2.0       740
1.0       563
11.0      339
16.0      155
15.0      154
14.0      148
18.0       83
13.0       79
20.0       50
24.0       13
17.0       11
23.0        6
19.0        5
22.0        5
Name: count, dtype: int64

RemovedTeeth
4
RemovedTeeth
None of them              131592
1 to 5                     74702
6 or more, but not all     25950
All                        13778
Name: count, dtype: int64

HadHeartAttack
2
HadHeartAttack
No     232587
Yes     13435
Name: count, dtype: int64

HadAngina
2
HadAngina
No     231069
Yes     14953
Name: count, dtype: int64

HadStroke
2
HadStroke
No     235910
Yes     10112
Name: count, dtype: int64

HadAsthma
2
HadAsthma
No     209493
Yes     36529
Name: count, dtype: int64

HadSkinCancer
2
HadSkinCancer
No     225001
Yes     21021
Name: count, dtype: int64

HadCOPD
2
HadCOPD
No     227028
Yes     18994
Name: count, dtype: int64

HadDepressiveDisorder
2
HadDepressiveDisorder
No     195402
Yes     50620
Name: count, dtype: int64

HadKidneyDisease
2
HadKidneyDisease
No     234738
Yes     11284
Name: count, dtype: int64

HadArthritis
2
HadArthritis
No     161139
Yes     84883
Name: count, dtype: int64

HadDiabetes
4
HadDiabetes
No                                         204834
Yes                                         33813
No, pre-diabetes or borderline diabetes      5392
Yes, but only during pregnancy (female)      1983
Name: count, dtype: int64

DeafOrHardOfHearing
2
DeafOrHardOfHearing
No     224990
Yes     21032
Name: count, dtype: int64

BlindOrVisionDifficulty
2
BlindOrVisionDifficulty
No     233796
Yes     12226
Name: count, dtype: int64

DifficultyConcentrating
2
DifficultyConcentrating
No     219802
Yes     26220
Name: count, dtype: int64

DifficultyWalking
2
DifficultyWalking
No     209952
Yes     36070
Name: count, dtype: int64

DifficultyDressingBathing
2
DifficultyDressingBathing
No     237682
Yes      8340
Name: count, dtype: int64

DifficultyErrands
2
DifficultyErrands
No     229638
Yes     16384
Name: count, dtype: int64

SmokerStatus
4
SmokerStatus
Never smoked                             147737
Former smoker                             68527
Current smoker - now smokes every day     21659
Current smoker - now smokes some days      8099
Name: count, dtype: int64

ECigaretteUsage
4
ECigaretteUsage
Never used e-cigarettes in my entire life    190128
Not at all (right now)                        43281
Use them some days                             6658
Use them every day                             5955
Name: count, dtype: int64

ChestScan
2
ChestScan
No     141822
Yes    104200
Name: count, dtype: int64

RaceEthnicityCategory
5
RaceEthnicityCategory
White only, Non-Hispanic         186336
Hispanic                          22570
Black only, Non-Hispanic          19330
Other race only, Non-Hispanic     12205
Multiracial, Non-Hispanic          5581
Name: count, dtype: int64

AgeCategory
13
AgeCategory
Age 65 to 69       28557
Age 60 to 64       26720
Age 70 to 74       25739
Age 55 to 59       22224
Age 50 to 54       19913
Age 75 to 79       18136
Age 80 or older    17816
Age 40 to 44       16973
Age 45 to 49       16753
Age 35 to 39       15614
Age 30 to 34       13346
Age 18 to 24       13122
Age 25 to 29       11109
Name: count, dtype: int64

HeightInMeters
101
HeightInMeters
1.68    21694
1.63    20835
1.70    20054
1.78    19540
1.65    18825
        ...
1.92        1
2.36        1
1.44        1
1.38        1
2.21        1
Name: count, Length: 101, dtype: int64

WeightInKilograms
516
WeightInKilograms
90.72     13066
81.65     12018
68.04     10365
72.57     10350
77.11      9725
          ...
238.14        1
200.49        1
166.47        1
205.02        1
30.39         1
Name: count, Length: 516, dtype: int64

BMI
3514
BMI
26.63    2727
27.46    2040
27.44    1964
24.41    1922
27.12    1893
         ...
41.65       1
33.24       1
25.57       1
13.64       1
45.28       1
Name: count, Length: 3514, dtype: int64

AlcoholDrinkers
2
AlcoholDrinkers
Yes    135307
No     110715
Name: count, dtype: int64

HIVTesting
2
HIVTesting
No     161520
Yes     84502
Name: count, dtype: int64

FluVaxLast12
2
FluVaxLast12
Yes    131196
No     114826
Name: count, dtype: int64

PneumoVaxEver
2
PneumoVaxEver
No     146130
Yes     99892
Name: count, dtype: int64

TetanusLast10Tdap
4
TetanusLast10Tdap
No, did not receive any tetanus shot in the past 10 years    81747
Yes, received tetanus shot but not sure what type            74119
Yes, received Tdap                                           70286
Yes, received tetanus shot, but not Tdap                     19870
Name: count, dtype: int64

HighRiskLastYear
2
HighRiskLastYear
No     235446
Yes     10576
Name: count, dtype: int64

CovidPos
3
CovidPos
No                                                               167306
Yes                                                               70324
Tested positive using home test without a health professional      8392
Name: count, dtype: int64

In [17]:
 # Encoding, separate out features
meta = ['HadHeartAttack']
num_features = ['PhysicalHealthDays', 'SleepHours', 'BMI', 'MentalHealthDays','AgeCategory']
cat_features = ['Sex', 'RaceEthnicityCategory', 'AgeCategory','SmokerStatus','AlcoholDrinkers','GeneralHealth']

In [18]:
df_meta= df.loc[:, meta]
df_meta.describe()

       HadHeartAttack
count          246022
unique              2
top                No
freq           232587

In [19]:
df_meta['HadHeartAttack'] = df_meta.HadHeartAttack.apply(lambda x: 0 if x == "Yes" else 1)
df_meta.head()

   HadHeartAttack
0               1
1               1
2               1
3               1
4               1

In [20]:
# NUMERIC FIRST - Do we need a SCALER?
df_num = df.loc[:, num_features]
df_num.describe()

       PhysicalHealthDays     SleepHours            BMI  MentalHealthDays
count       246022.000000  246022.000000  246022.000000     246022.000000
mean             4.119026       7.021331      28.668136          4.167140
std              8.405844       1.440681       6.513973          8.102687
min              0.000000       1.000000      12.020000          0.000000
25%              0.000000       6.000000      24.270000          0.000000
50%              0.000000       7.000000      27.460000          0.000000
75%              3.000000       8.000000      31.890000          4.000000
max             30.000000      24.000000      97.650000         30.000000

In [21]:
# Categorical Up Next
df_cat = df.loc[:, cat_features]
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,Female,"White only, Non-Hispanic",Age 65 to 69,Former smoker,No,Very good
1,Male,"White only, Non-Hispanic",Age 70 to 74,Former smoker,No,Very good
2,Male,"White only, Non-Hispanic",Age 75 to 79,Former smoker,Yes,Very good
3,Female,"White only, Non-Hispanic",Age 80 or older,Never smoked,No,Fair
4,Female,"White only, Non-Hispanic",Age 80 or older,Never smoked,No,Good

In [22]:
# Label Encode SEX
df_cat["Sex"] = df_cat.Sex.apply(lambda x: 0 if x == "Male" else 1)
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,"White only, Non-Hispanic",Age 65 to 69,Former smoker,No,Very good
1,0,"White only, Non-Hispanic",Age 70 to 74,Former smoker,No,Very good
2,0,"White only, Non-Hispanic",Age 75 to 79,Former smoker,Yes,Very good
3,1,"White only, Non-Hispanic",Age 80 or older,Never smoked,No,Fair
4,1,"White only, Non-Hispanic",Age 80 or older,Never smoked,No,Good

In [23]:
# Label Encode SEX
df_cat["AlcoholDrinkers"] = df_cat.AlcoholDrinkers.apply(lambda x: 0 if x == "Yes" else 1)
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,"White only, Non-Hispanic",Age 65 to 69,Former smoker,1,Very good
1,0,"White only, Non-Hispanic",Age 70 to 74,Former smoker,1,Very good
2,0,"White only, Non-Hispanic",Age 75 to 79,Former smoker,0,Very good
3,1,"White only, Non-Hispanic",Age 80 or older,Never smoked,1,Fair
4,1,"White only, Non-Hispanic",Age 80 or older,Never smoked,1,Good

In [24]:
df_cat.RaceEthnicityCategory.value_counts()

RaceEthnicityCategory
White only, Non-Hispanic         186336
Hispanic                          22570
Black only, Non-Hispanic          19330
Other race only, Non-Hispanic     12205
Multiracial, Non-Hispanic          5581
Name: count, dtype: int64

In [25]:
print(type(cat_features))
cat_features = pd.DataFrame(cat_features)

<class 'list'>

In [26]:
# Label Encode RaceEthnicityCategory
df_cat.RaceEthnicityCategory.replace({
    "White only, Non-Hispanic": 0,
    "Hispanic": 1,
    "Black only, Non-Hispanic": 2,
    "Other race only, Non-Hispanic": 3,
    "Multiracial, Non-Hispanic": 4
}, inplace =True)
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,0,Age 65 to 69,Former smoker,1,Very good
1,0,0,Age 70 to 74,Former smoker,1,Very good
2,0,0,Age 75 to 79,Former smoker,0,Very good
3,1,0,Age 80 or older,Never smoked,1,Fair
4,1,0,Age 80 or older,Never smoked,1,Good

In [27]:
df_num.AgeCategory.replace({
"Age 18 to 24": 21,
"Age 25 to 29": 27,
"Age 30 to 34": 32,
"Age 35 to 39": 37,
"Age 40 to 44": 42,
"Age 45 to 49": 47,
"Age 50 to 54": 52,
"Age 55 to 59": 57,
"Age 60 to 64": 62,
"Age 65 to 69": 67,
"Age 70 to 74": 72,
"Age 75 to 79":77,
"Age 80 or older":83}, inplace=True)# 83 Is chosen beacuse from census data available on census.gov for 2020 83 is the median age for this age group
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,0,Age 65 to 69,Former smoker,1,Very good
1,0,0,Age 70 to 74,Former smoker,1,Very good
2,0,0,Age 75 to 79,Former smoker,0,Very good
3,1,0,Age 80 or older,Never smoked,1,Fair
4,1,0,Age 80 or older,Never smoked,1,Good

In [28]:
df_cat.GeneralHealth.replace({
    "Excellent": 0,
    "Very good": 1,
    "Good": 2,
    "Fair": 3,
    "Poor": 4}, inplace=True)
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,0,Age 65 to 69,Former smoker,1,1
1,0,0,Age 70 to 74,Former smoker,1,1
2,0,0,Age 75 to 79,Former smoker,0,1
3,1,0,Age 80 or older,Never smoked,1,3
4,1,0,Age 80 or older,Never smoked,1,2

In [29]:
df_cat.SmokerStatus.replace({
    "Former smoker" : 1,
    "Never smoked" : 1,
    "Current smoker - now smokes every day": 0,
    "Current smoker - now smokes some days": 0}, inplace=True)
df_cat.head()

,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,0,Age 65 to 69,1,1,1
1,0,0,Age 70 to 74,1,1,1
2,0,0,Age 75 to 79,1,0,1
3,1,0,Age 80 or older,1,1,3
4,1,0,Age 80 or older,1,1,2

In [30]:
# # Put Everything Back Together
# df_final = df.loc[:,meta]
df_final = pd.concat([df_meta, df_num], axis=1)
df_final = pd.concat([df_final, df_cat], axis=1)
df_final.head()

,HadHeartAttack,PhysicalHealthDays,SleepHours,BMI,MentalHealthDays,AgeCategory,Sex,RaceEthnicityCategory,AgeCategory,SmokerStatus,AlcoholDrinkers,GeneralHealth
0,1,4.0,9.0,27.99,0.0,67,1,0,Age 65 to 69,1,1,1
1,1,0.0,6.0,30.13,0.0,72,0,0,Age 70 to 74,1,1,1
2,1,0.0,8.0,31.66,0.0,77,0,0,Age 75 to 79,1,0,1
3,1,5.0,9.0,31.32,0.0,83,1,0,Age 80 or older,1,1,3
4,1,3.0,5.0,33.07,15.0,83,1,0,Age 80 or older,1,1,2

In [31]:
 # YES we need a scaler

# initialize
scaler = StandardScaler()

# fit
scaler.fit(df_num)

# predict/transform
scaled_data = scaler.transform(df_num)
df_scaled = pd.DataFrame(scaled_data, columns=num_features)

df_scaled.head()

   PhysicalHealthDays  SleepHours       BMI  MentalHealthDays  AgeCategory
0           -0.014160    1.373428 -0.104105         -0.514292     0.649266
1           -0.490020   -0.708924  0.224420         -0.514292     0.934270
2           -0.490020    0.679311  0.459300         -0.514292     1.219274
3            0.104805    1.373428  0.407105         -0.514292     1.561278
4           -0.133125   -1.403041  0.675759          1.336949     1.561278

In [32]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HadHeartAttack         246022 non-null  int64
 1   PhysicalHealthDays     246022 non-null  float64
 2   SleepHours             246022 non-null  float64
 3   BMI                    246022 non-null  float64
 4   MentalHealthDays       246022 non-null  float64
 5   AgeCategory            246022 non-null  int64
 6   Sex                    246022 non-null  int64
 7   RaceEthnicityCategory  246022 non-null  int64
 8   AgeCategory            246022 non-null  object
 9   SmokerStatus           246022 non-null  int64
 10  AlcoholDrinkers        246022 non-null  int64
 11  GeneralHealth          246022 non-null  int64
dtypes: float64(4), int64(7), object(1)
memory usage: 22.5+ MB

In [33]:
### catagorical coding for health and age in one column each... Example age avg 72 (mind point)

In [34]:
# Feature selection
# correlation analysis
corrs = df_final.corr()
corrs

ValueError: could not convert string to float: 'Age 65 to 69'

In [ ]:
plt.figure(figsize=(30,20))
sns.heatmap(corrs, annot=True)
plt.show()

In [ ]:
 abs(corrs.HadHeartAttack).sort_values(ascending=False)

In [ ]:
# sources or inspiration https://www.analyticsvidhya.com/blog/2022/02/heart-disease-prediction-using-machine-learning-2/
plt.figure(figsize=(15,10))
sns.heatmap(df_final.corr(),linewidth=.01,annot=True,cmap="winter")
plt.show()
plt.savefig('correlationfigure')

In [ ]:
df_final.hist(figsize=(30,50))
plt.savefig('featuresplot')

In [ ]:
# Step 1: Get the data
X = df_final.drop(columns=["HadHeartAttack"])
y = df_final.HadHeartAttack

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1, stratify=y) # stratify=True maintains target class percentages
print(X_train.shape, X_test.shape)

In [ ]:
X_train.head()

In [ ]:
# Get list of categorical variables
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

In [ ]:
# Function for Classification
# THE ROC CURVE CODE WILL BREAK FOR MULTI_CLASS PROBLEMS
def doClassification(model, X_train, X_test, y_train, y_test):
    # Step 3: Fit the model
    model.fit(X_train, y_train)
    
    # Step 4: Evaluate the model
    train_preds = model.predict(X_train)
    test_preds = model.predict(X_test)

    train_proba = model.predict_proba(X_train)[:, 1]
    test_proba = model.predict_proba(X_test)[:, 1]

    # Generate metrics TRAIN
    train_cf = confusion_matrix(y_train, train_preds)
    train_cr = classification_report(y_train, train_preds)
    train_auc = roc_auc_score(y_train, train_proba)
    
    train_results = f"""TRAIN METRICS
    Confusion Matrix: 
    {train_cf}
    
    AUC: {train_auc}

    Classification Report:
    {train_cr}
    """
    
    print(train_results)

    # Generate metrics TEST
    test_cf = confusion_matrix(y_test, test_preds)
    test_cr = classification_report(y_test, test_preds)
    test_auc = roc_auc_score(y_test, test_proba)
    
    test_results = f"""TEST METRICS
    Confusion Matrix: 
    {test_cf}
    
    AUC: {test_auc}

    Classification Report:
    {test_cr}
    """
    
    print(test_results)

    # VISUALIZE TEST RESULTS
    # Confusion Matrix
    plt.figure(figsize=(4, 4))
    sns.heatmap(test_cf, annot=True, fmt='d', cmap='Blues', cbar=False, 
                xticklabels=['Predicted Negative', 'Predicted Positive'], 
                yticklabels=['Actual Negative', 'Actual Positive'])
    plt.title('Confusion Matrix')
    plt.xlabel('Predicted Label')
    plt.ylabel('True Label')
    plt.show()

    # ROC Curve
    fpr, tpr, _ = roc_curve(y_test.values, test_proba)
    
    # Set figure size
    plt.figure(figsize=(6, 6))
    
    # Plot the ROC curve
    plt.plot(fpr, tpr, color='blue', lw=2, label=f'ROC curve (area = {test_auc:.2f})')
    
    # Plot the diagonal reference line
    plt.plot([0, 1], [0, 1], color='gray', linestyle='--')
    
    # Titles and labels
    plt.title('Receiver Operating Characteristic (ROC) Curve')
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    
    # Add grid and legend
    plt.grid(linestyle="--", color="lightgrey", alpha=0.75)
    plt.legend(loc="lower right")
    
    # Display the plot
    plt.show()

In [ ]:
# Step 2: Init the Model
lr = LogisticRegression()

# Do Machine Learning
doClassification(lr, X_train, X_test, y_train, y_test)

In [ ]:
# Step 2: Init the Model
dt = DecisionTreeClassifier(random_state=42)

# Do Machine Learning
doClassification(dt, X_train, X_test, y_train, y_test)

In [ ]:
# Step 2: Init the Model
rf = RandomForestClassifier(random_state=42)

# Do Machine Learning
doClassification(rf, X_train, X_test, y_train, y_test)

In [ ]:
 # Step 2: Init the Model
svc = SVC(probability=True)

# Do Machine Learning
doClassification(svc, X_train, X_test, y_train, y_test)

In [ ]:
 # Step 2: Init the Model
knn = KNeighborsClassifier(n_neighbors=15)

# Do Machine Learning
doClassification(knn, X_train, X_test, y_train, y_test)

In [ ]:
 # Step 2: Init the Model
et = ExtraTreesClassifier(random_state=42)

# Do Machine Learning
doClassification(et, X_train, X_test, y_train, y_test)

In [ ]:
# Step 2: Init the Model
ada = AdaBoostClassifier(random_state=42)

# Do Machine Learning
doClassification(ada, X_train, X_test, y_train, y_test)

In [ ]:
# Step 2: Init the Model
gb = GradientBoostingClassifier(random_state=42)

# Do Machine Learning
doClassification(gb, X_train, X_test, y_train, y_test)

In [ ]:
 from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [ ]:
 # Step 2: Init the Model
xgb = XGBClassifier(random_state=42)

# Do Machine Learning
doClassification(xgb, X_train, X_test, y_train, y_test)

In [ ]:
# Train and test columns are the same
temp_cols =[c.replace(' ', '_').replace('-', '_') for c in X_train.columns]
print(temp_cols)

In [ ]:
# X_train_LGBM = X_train.copy()
# X_train_LGBM.columns = temp_cols
# X_test_LGBM = X_test.copy()
# X_test_LGBM.columns = temp_cols

In [ ]:
X_train_lgbm, X_test_lgbm = [X.rename(columns=lambda x:re.sub('[^A-Za-z0-9_]+', '', x)) for X in (X_train, X_test)]

In [ ]:
# Step 2: Init the Model 
# 
lgbm = LGBMClassifier(random_state=42, verbose=-1)

# Do Machine Learning
doClassification(lgbm, X_train_lgbm, X_test_lgbm, y_train, y_test)

In [ ]:
X_train.columns
# maybe space between name in columns.

In [ ]:
X_test

In [ ]:
fi = pd.DataFrame(list(zip(X.columns, gb.feature_importances_)), columns=["Feature", "Importance"])
fi.sort_values(by="Importance", ascending=False)

In [ ]:
fi = pd.DataFrame(list(zip(X.columns, xgb.feature_importances_)), columns=["Feature", "Importance"])
fi.sort_values(by="Importance", ascending=False)

In [ ]:
fi = pd.DataFrame(list(zip(X.columns, lgbm.feature_importances_ / sum(lgbm.feature_importances_))), columns=["Feature", "Importance"])
fi.sort_values(by="Importance", ascending=False)

In [ ]:
fi = pd.DataFrame(list(zip(X.columns, ada.feature_importances_)), columns=["Feature", "Importance"])
fi.sort_values(by="Importance", ascending=False)

In [ ]:
# Retrain the model on the ENTIRE dataset
gb = GradientBoostingClassifier(random_state=42)
gb.fit(X, y)

In [ ]:
 # Save off my models
import pickle

# Scaler
pickle.dump(scaler, open("heartattack_scaler.h5", 'wb'))

# Model
pickle.dump(gb, open("heartattack.h5", 'wb'))